webscrape_amazon_trending.py
Amazon_Bestsellers_list.xlsx
~$Amazon_Bestsellers_list.xlsx
tempCodeRunnerFile.py
Amazon_Bestsellers_list_Home&Kitchen.csv
Amazon_Bestsellers_list_Home&Kitchen.xlsx
Amazon_Bestsellers_list_Home&Kitchen2.csv
